
.com-btn-4{
  font-size: 1vw;
}

/* game共通 */

.comlayout {
  padding: 0px 16px;
}

.breadcrumb-color {
  background-color: #e1eec1;
}

.comlayout-gallery {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0px 16px;
}

.btnShape {
  position:relative;
  height: 100px;
  justify-content: center;
  border-radius: 10px;
}

.btnShape .Link{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comlayout-btnNameSize1 {
  font-size: large;
}

.comlayout-btnName{
  line-height: normal;
  text-align: center;

  margin: 0px;
  padding: 20px;

  color: #212529;

  /* display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}

/* gameconsole */


/* gamegenre */

.comlayout-gallery li {
  display: inline-block;
  width: calc(25% - 15px);
  margin: 5px 5px;
  /* padding: 10px; */

  /* columns: 4 5rem;
  padding: 0 15px;
  margin: 0; */
}


/* gamelist */

.comlist-gallery{
  columns: 4 5rem;
  padding: 0 15px;
  margin: 0;
}

.comlist-gallery li{
  width: 100%;
  /* height: auto; */

  margin: 15px;
  list-style: none;

  line-height: normal;
  text-align: center;
  /* margin: 0px; */

  display: inline-block;
  /* width: calc(25% - 15px); */
  margin: 5px 5px;
  /* font-size: 5px; */
}



/* btn効果 */

/* クリックしたら波紋が広がる */
.btnripple {
  /* 波紋の基点とするためrelativeを指定 */
  position: relative;
  /* はみ出す波紋を隠す */
  overflow: hidden;

  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  /* background: #333; */
	/* color: #fff; */
	padding: 10px 20px;
	border-radius: 25px;
  outline: none;
}

.btnripple::after {
  content: "";
  /*絶対配置で波紋位置を決める*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*波紋の形状*/
  background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
  transform: scale(10, 10);
  /*はじめは透過0に*/
  opacity: 0;
  /*アニメーションの設定*/
  transition: transform 0.5s, opacity 1s;
}

/*クリックされたあとの形状の設定*/
.btnripple:active::after {
  transform: scale(0, 0);
  transition: 0s;
  opacity: 0.3;
}

/* .btnripple:hover::before {
  content: '';
  position: absolute;
  left: 30%;
  top: 0;

  border: 1px solid #333;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  opacity: 1;
  animation: 1s circleanime2 forwards;
} */

@keyframes circleanime2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* .btnripple::after {
  content: '';
  position: absolute;
  top: 30%;
  right: -20px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
} */

@media only screen and (max-width: 900px) {
  .com-list-gallery {
    columns: 3;
  }
}

@media only screen and (max-width: 768px) {
  .com-list-gallery {
    columns: 2;
  }
}


/* game btn color */

.btnx-indigo{
  background: var(--bs-indigo); border: 2px solid var(--bs-indigo);
}
.btnx-purpule{
  background: var(--bs-purple); border: 2px solid var(--bs-purple);
}
.btnx-pink{
  background: var(--bs-pink); border: 2px solid var(--bs-pink);
}
.btnx-orange{
  background: var(--bs-orange); border: 2px solid var(--bs-orange);
}
.btnx-teal{
  background: var(--bs-teal); border: 2px solid var(--bs-teal);
}
.btnx-cyan{
  background: var(--bs-cyan); border: 2px solid var(--bs-cyan);
}
.btnx-lime{
  background: #7CB342; border: 2px solid #7CB342;
}
.btnx-indigo-light{
  color: var(--bs-indigo) ;background: #9FA8DA; border: 2px solid #9FA8DA;
}
.btnx-purpule-light{
  color: var(--bs-purple); background: #CE93D8; border: 2px solid #CE93D8;
}
.btnx-pink-light{
  color: var(--bs-pink);background: #F48FB1; border: 2px solid #F48FB1;
}
.btnx-orange-light{
  color: var(--bs-orange) ;background: #FFCC80; border: 2px solid #FFCC80;
}
.btnx-teal-light{
  color: #004D40;background: #80CBC4; border: 2px solid #80CBC4;
}
.btnx-cyan-light{
  color: #006064;background: #80DEEA; border: 2px solid #80DEEA;
}
.btnx-lime-light{
  color: #827717 ;background: #C5E1A5; border: 2px solid #C5E1A5;
}
.btnx-gray-light{
  color: #1D2024 ;background: #B4C1D1; border: 2px solid #B4C1D1;
}

.btnx-genre1{
  color: #6E5064 ;background: #fabea7; border: 2px solid #fabea7;
}
.btnx-genre2{
  color: #6E5064 ;background: #fcc9ac; border: 2px solid #fcc9ac;
}
.btnx-genre3{
  color: #6E5064 ;background: #ffe0b6; border: 2px solid #ffe0b6;
}
.btnx-genre4{
  color: #6E5064 ;background: #fffac2; border: 2px solid #fffac2;
}

.btnx-list1{
  color: #6E5064 ;background: #fcc9ac; border: 2px solid #ffe0b6;
}



/* .game-detail-body{
  background: #e1eec1;
  height: 100vh;
} */

/* @charset "UTF-8";
@import url("reset.css"); */

body{
    /* background: #1d1d1d; */
    /*background: url("../img/top_bg.png") no-repeat center center;*/
    /*background-size: cover;*/
    /* height: 100vh; */

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.join-title{
  display: inline-block;
  margin: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}


.join-btn-layout{
  display: flex;
  align-items: center;
  justify-content: center;

}

.join-btn{
    display: inline-block;
    border: 1px solid white;
    padding: 18px 80px 20px;
    text-transform: uppercase;
    color:  white;
    text-decoration: none;

    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.3em;
    border-radius: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,Sana;

    transition: all 0.7s ease-out;

    margin: 0.7rem;

    /* background: linear-gradient(270deg, rgba(137,247,254,0.8), rgba(102,166,255,0.8), rgba(0,0,0,0), rgba(0,0,0,0)); */
    background: #fabea7;
    background-size: 300% 300%;
    background-position: 1% 50%;


}

/* .in{
    background: linear-gradient(270deg, rgba(137,247,254,0.8), rgba(102,166,255,0.8), rgba(0,0,0,0), rgba(0,0,0,0));
    background-size: 300% 300%;
    background-position: 1% 50%;
} */
/* .up{
    background: linear-gradient(270deg, rgba(250,112,154,0.8), rgba(254,225,64,0.8), rgba(0,0,0,0), rgba(0,0,0,0));
    background-size: 300% 300%;
    background-position: 1% 50%;
} */

.btn:hover{
    color: white;
    border: 1px solid rgba(193,164,112,0);
    background-position: 99% 50%;
}
